<html>
<body>

<h2>Shorten URL</h2>

<form action="short_urls/create" method="post">
  Enter URL:<br>
  <input type="text" name="orig_url">
  <br>  
  <input type="submit" value="Shorten URL">
</form> 
